<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: t('activerecord.attributes.comment.add_a_comment') %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
