<h1><%= t('activerecord.attributes.report.edition_report') %></h1>

<%= render 'form', report: @report %>

<%= link_to t('activerecord.attributes.report.show'), @report %> |
<%= link_to t('activerecord.attributes.book.back'), reports_path %>
